:root {
  --clr-bg-blue: #427ca3;
  --clr-bg-cyan: #a8dadb;
  --clr-bg-dark-blue: #1e3555;
  --clr-bg-greenish: #f2f9ef;
  --clr-bg-white: #fff;

  --clr-border-blue: #6691a9;

  --clr-blue: #14344a;
  --clr-white: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-blue);
}

header {
  align-items: center;
  background-image: url(../images/main-terespol-pic.jpg);
  background-position: 0% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-height: 33vh;
  min-width: 100vw;
}

header h1 {
  background-color: var(--clr-bg-blue);
  border-radius: 20px;
  color: var(--clr-white);
  padding: 0.5rem 1rem;
}

header h2 {
  background-color: var(--clr-bg-dark-blue);
  border-radius: 20px;
  color: var(--clr-white);
  padding: 0.25rem 0.5rem;
}

main {
  background-color: var(--clr-bg-greenish);
  display: block;
  padding-top: 2vh;
  min-height: 34vh;
  min-width: 100vw;
  text-align: center;
}

main h2 {
  margin-bottom: 1rem;
}

footer {
  background-color: var(--clr-bg-white);
  display: block;
  min-height: 30vh;
  min-width: 100vw;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card p {
  margin: 1vh 20%;
}

.card img {
  width: min(12vw, 12vh);
  height: min(12vw, 12vh);
  border-radius: 50%;
}

.personal-card {
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: row;
  width: 33%;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: var(--clr-bg-cyan);
  border-bottom: 0.5rem solid var(--clr-border-blue);

  text-align: center;
}

.personal-card p {
  margin: 5% 20%;
}

.personal-card img {
  width: 33%;
  height: 80%;
}
